/* Constants */

@text-color: black;
@mobile-width: 860px;
@cursor-default: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=), auto;
@cursor-pointer: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;

/* Fonts */

@font-face {
    font-family: 'Pricedown';
    src: url('../fonts/pricedown.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Common */

html {
    font-size: 120%;
}

html, body, p, h1, h2, h3, h4, h5, input, button, div, textarea, * {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    color: @text-color;
    background: linear-gradient(0deg, rgb(97 210 228) 0%, rgb(210 237 244) 100%);
    background-attachment: fixed;
    a {
        color: rgb(56 141 214);
    }
    .big-btn {
        color: black;
    }
}

* {
    cursor: @cursor-default;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.big-btn, button, a, select, input, textarea {
    cursor: @cursor-pointer;
}

.big-btn {
    background-color: rgb(243 198 36);
    border-radius: 4px;
    border: 2.5px solid black;
    box-shadow: 3px 3px 0px black;
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.5rem 1rem;
    text-decoration: none;
    user-select: none;

    @duration: 0.14s;
    transition:
        box-shadow @duration ease,
        transform @duration ease;
    &:hover {
        box-shadow: 0px 0px 0px black;
        transform: translateY(3px) translateX(3px);
        text-decoration: none;
    }
}

.gta {
    color: white;
    font-family: 'Pricedown', serif;
    letter-spacing: 0.5px;
    text-shadow: 0 0 2px black, 3px 3px 1px black;
    text-transform: lowercase;
}

/* #layout */

#layout {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1.6rem;
    @media (max-width: @mobile-width) {
        padding: 0;
    }
    > .svg-artwork {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.6;
        z-index: -1;
    }
}

/* #nav */

#nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    user-select: none;
    .nav-item {
        display: block;
        padding: 0.2rem 0.8rem 0.5rem;
        text-align: center;
        font-size: 1.9rem;
        &.selected, &:hover {
            &:nth-child(even) {
                transform: perspective(280px) rotateX(10deg) rotateY(-10deg) rotateZ(2deg);
            }
            &:nth-child(odd) {
                transform: perspective(280px) rotateX(10deg) rotateY(10deg) rotateZ(-2deg);
            }
            cursor: @cursor-pointer;
            background-color: rgb(255, 130, 182);
            box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.8);
            text-decoration: none;
            text-shadow: 0 0 1px black;
        }
        &.selected {
            cursor: @cursor-default;
        }
    }
}
@media (max-width: @mobile-width) {
    #nav {
        display: block;
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0.3rem 0.1rem 0.5rem;
        box-sizing: border-box;
        text-align: center;
        background: rgb(116 213 229);
        .nav-item {
            margin: 0 0.3rem;
            display: inline-block;
            font-size: 1.6rem;
            padding: 0.2rem 0.7rem;
        };
    }
}

/* #page */

#page {
    color: #007589;
    flex-grow: 1;
    text-align: center;
    @media (max-width: @mobile-width) {
        margin-bottom: 7rem;
    }
    .page-content {
        background: rgba(255, 255, 255, 0.5);
        padding: 1rem 1rem 1rem;
    }
    h1 {
        background: rgba(255, 255, 255, 0.5);
        color: #008aa3;
        font-size: 3rem;
        margin-bottom: 0.5rem;
        padding-bottom: 0.2rem;
        text-shadow: none;
    }
    h2 {
        font-size: 2.1rem;
        padding-bottom: 0.75rem;
    }
}

/* Home */

/* Demo */

#demo-page
{
    .svg-artwork {
        max-height: 90vh;
        width: auto;
    }
}

/* FAQ */

#faq-page {
    margin: 0 auto;
    h2 {
        text-transform: none;
    }
    #faq-artwork-showcase {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0.8em;
        .faq-artwork-item {
            width: 46%;
            text-align: center;
            margin: 0 2%;
        }
        .faq-artwork-svg {
            width: 100%;
            height: auto;
            border-radius: 1rem;
        }
        .faq-artwork-description {
            margin-bottom: 0.5em;
        }
    }
}

/* Mint */

/* NotFound */

/* Owner */

/* Old homepage */

#home-page-old { // TODO remove
    #home-container {
        height: 100svh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    @shadow-offset: 1.5px;
    @shadow-blur: 1px;
    @shadow-color: rgb(255 255 255 / 30%);
    #home-title {
        * {
            color: black;
            background: none;
        }
        margin: 1em 0 0.5em;
        text-shadow:
            0 -@shadow-offset @shadow-blur @shadow-color,
            @shadow-offset 0 @shadow-blur @shadow-color,
            0 @shadow-offset @shadow-blur @shadow-color,
            -@shadow-offset 0 @shadow-blur @shadow-color;
        h1 {
            font-size: 4.5em;
        }
        h2 {
            font-size: 1.2em;
            margin-top: -0.9em;
            #by_polymedia {
                color: @text-color;
            }
        }
    }
    #home-buttons {
        margin-top: 1em;
    }
}

/* dev-only */

#network-selector {
    * {
        font-family: 'Pricedown', serif;
    }
    .network-option:not(.selected) .text:hover {
        cursor: @cursor-pointer;
        color: yellow;
    }
}
