@import './variables.less';

html {
    font-size: 120%;
}

html, body, p, h1, h2, h3, h4, h5, input, button, div, textarea {
    font-family: 'Literata', serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(29, 29, 29);
    color: @text-color;
}

#page {
    text-align: center;
}

a {
    color: #79eeff;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.btn {
    background-color: rgb(243 198 36);
    border-radius: 2rem;
    border: 2px solid black;
    box-shadow: 2px 2px 0px black;
    color: black;
    display: inline-block;
    font-weight: bold;
    padding: 0.5rem 1rem 0.6rem;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        box-shadow: 0px 0px 0px black;
        background-color: rgb(243 208 52);
    }
}