@import './variables.less';

html {
    font-size: 120%;
}

html, body, p, h1, h2, h3, h4, h5, input, button, div, textarea {
    font-family: 'Literata', serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(29, 29, 29);
    color: @text-color;
}

#page {
    text-align: center;
}

a {
    color: #79eeff;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}