#faq-page
{
    background-color: rgb(255 255 255 / 88%);
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 1em;
}
#faq-faq {
    h1 {
        font-size: 4em;
    }
    #note {
        font-size: 0.9em;
        margin-top: 1em;
    }
    .question {
        margin-top: 2.5em;
        p {
            margin-top: 0.8em;
        }
    }
}
#faq-artwork-showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0.8em;
    .faq-artwork-item {
        width: 46%;
        text-align: center;
        margin: 0 2%;
    }
    .faq-artwork-svg {
        width: 100%;
        height: auto;
        border-radius: 1rem;
    }
    .faq-artwork-description {
        margin-bottom: 0.5em;
    }
}
