@import './variables.less';

#faq-page
{
    background-color: rgb(255 255 255 / 88%);
    margin: 0 auto;
    max-width: 800px;
    padding: 0em 1em 2em;
}
#faq-bar {
    display: flex;
    justify-content: space-between;
    padding: 1em 0.3em 0.1em;
    #faq-logo {
        height: 2.7em;
        img {
            height: 100%;
            &:hover {
                cursor: @cursor-pointer;
                filter: brightness(1.16);
            }
        }
    }
}
#faq-faq {
    h1 {
        font-size: 4em;
    }
    #note {
        font-size: 0.9em;
        margin-top: 1em;
    }
    .question {
        margin-top: 2.5em;
        p {
            margin-top: 0.8em;
        }
    }
}
#faq-artwork-showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0.8em;
    .faq-artwork-item {
        width: 46%;
        text-align: center;
        margin: 0 2%;
    }
    .faq-artwork-svg {
        width: 100%;
        height: auto;
        border-radius: 1rem;
    }
    .faq-artwork-description {
        margin-bottom: 0.5em;
    }
}
