@import './variables.less';

#home-page
{
}

#home-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home-title {
    margin: 1em 0;
    h1 {
        font-size: 4.5em;
    }
    h2 {
        font-size: 1.2em;
        margin-top: -1em;
    }
    #by_polymedia {
        color: @text-color;
    }
}
#home-buttons {
    margin-top: 1em;
}